{{ template "base" . }}
{{ define "content" }}
<div class="row mt-4 g-4">
	<div class="d-flex flex-column col">
		<form method="post">
			<h2 class="mb-2">Change password</h2>
			<input
				type="password"
				name="old password"
				class="form-control mb-2"
				autocomplete="off"
				placeholder="Old password"
				required>
			<input
				type="password"
				name="new password"
				class="form-control mb-2 mt-3"
				autocomplete="off"
				placeholder="New password"
				pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,32}$"
				required>
			<input
				type="password"
				name="new password again"
				class="form-control mb-2"
				autocomplete="off"
				placeholder="Repeat new password"
				pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{8,32}$"
				required>
			<div class="mb-2 row mx-0 d-flex">
				<button type="submit" class="btn btn-primary">
					Save
				</button>
			</div>
			{{ if .Error }}
			<p class="alert alert-danger mt-5 mb-3 text-center" role="alert">
				{{ .Error }}
			</p>
			{{ else if .Message }}
			<p class="alert alert-success mt-5 mb-3 text-center" role="alert">
				{{ .Message }}
			</p>
			{{ end }}
		</form>
		{{ template "rules" . }}
	</div>
	<div class="d-flex flex-column col">
		<h2 class="mb-2">Your profile</h2>
		{{ template "profile_info" . }}
	</div>
</div>
{{ end }}
